services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend/223_User_Profile_Frontend
      dockerfile: Dockerfile
    image: docker223-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    container_name: backend
    build:
      context: ./backend/223_User_Profile_Backend
      dockerfile: Dockerfile
    image: docker223-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    depends_on:
      - db

  db:
    image: postgres:10-alpine
    container_name: db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
