name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build backend Docker image
        run: docker build -t docker223-backend ./backend

      - name: Build frontend Docker image
        run: docker build -t docker223-frontend ./frontend
